$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(255, 82, 2);
$tertiary-color: rgb(211, 103, 53);


body, html {
    font-family: Montserrat, "Times New Roman", sans-serif;
}

.jumbotron{
    padding: 0;
    height:600px;
    width:100%;
    position: relative;
    margin: 0;
    background-color: $primary-color ;
    color: $secondary-color;
    display: grid;
}

.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar-brand {
    color: white !important;
    font-size: 26px;
}

.nav-bar-brand i {
    padding: 0 15px;
    color: $secondary-color;
}


.navbar-nav a {
    color: white !important;
    font-size: 22px;
}
// background:linear-gradient(rgba(0, 108, 250, 0.5),transparent);
// background-color:rgb(0, 255, 157) /*this your primary color*/

.centered-jumbo {
    margin: auto;  
    margin-top: 50px;
}

.idkyet {
      height: 600px;
      width: 100%;
      background-color: $tertiary-color;
}

.j-column {
    width: auto;
    margin-top: 100px;
    margin-left: 40px;
    float: left;
}

.hire-btn {
    margin-top: 20px;
}

.subTitle {
    margin: 10px auto;
}

.btn-div {
    width: 30%;
    justify-content: center;
}

.hire-btn {
    color: $secondary-color;
    border: 1px solid $tertiary-color;
    margin-top: 20px;
}


.hire-btn:hover {
    background-color: $tertiary-color;
    transform: scale(1.05);
}

.canvas {
    overflow: visible !important;
}